<div class="container">
	<div class="contents-title text-center">
		<h3 class="index-title">お気に入りサウナ一覧</h3>
	</div>
	<div class="row">
		<% @favorites.each do |favorite| %>
			<div class="col-md-4">
				<div class="card">
					<% if favorite.avatar.attached? %>
							<%= image_tag favorite.avatar, class: "card-img-top" %>
						<% else %>
							<%= image_tag "no-image.png", class: "card-img-top" %>
						<% end %>
					<div class="card-body text-center">
						<h5 class="card-title"><%= favorite.name %></h5>
						<%= link_to "詳細を見る", sauna_path(favorite.id), class: "btn btn-info" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<%= paginate @favorites %>
</div> 
