<div class="container">
	<div class="contents-title text-center">
		<h3 class="index-title">
			検索結果:<%= @search_saunas.count %>件
		</h3>
		<% if @search_saunas.count == 0 %>
			<p>キーワードに当てはまるサウナはありませんでした</p>
		<% end %>
	</div>
	<div class="row">
		<% @search_saunas.with_attached_avatar.each do |sauna| %>
			<% if sauna.privacy == "1" %>
				<div class="col-md-4">
					<div class="card">
						<% if sauna.avatar.attached? %>
							<%= image_tag sauna.avatar, class: "card-img-top" %>
						<% else %>
							<%= image_tag "no-image.png", class: "card-img-top" %>
						<% end %>
						<div class="card-body text-center">
							<h5 class="card-title"><%= sauna.name %></h5>
							<%= link_to "詳細を見る", sauna_path(sauna.id), class: "btn btn-info" %>
						</div>
					</div>
				</div>
			<% elsif (sauna.privacy == "2") && (sauna.user_id == current_user.id) %>
				<div class="col-md-4">
					<div class="card">
						<% if sauna.avatar.attached? %>
							<%= image_tag sauna.avatar, class: "card-img-top" %>
						<% else %>
							<%= image_tag "no-image.png", class: "card-img-top" %>
						<% end %>
						<div class="card-body text-center">
							<h5 class="card-title"><%= sauna.name %>(非公開)</h5>
							<%= link_to "詳細を見る", sauna_path(sauna.id), class: "btn btn-info" %>
						</div>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
	<%= paginate @saunas %>
</div> 
