<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
		<% if user_signed_in? %>
			<%= link_to user_path(current_user) do %>
				<%= attachment_image_tag current_user, :profile_image, fallback: "no-image.png", class: "icon" %>
			<% end %>
		<% end %>
		<li class="nav-list-item">
			<%= link_to root_path do %>
				<h5 class="home" style="font-family: cursive; color: white; transition-duration: 0.5s;" onMouseOut="this.style.color='white';" onMouseOver="this.style.color='#888'">Sauna&Camp</h5>
			<% end %>
		</li>
		<%= search_form_for @search, url: search_saunas_path do |f| %>
			<%= f.text_field :name_or_address_or_sauna_body_or_water_body_or_louly_body_cont, id: "search-form", class: 'form-control', placeholder: 'キーワードを入力' %>
		<% end %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<% if user_signed_in? %>
					<div class="dropdown dropleft">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							メニュー
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li class="nav-item">
								<%= link_to "About", about_path %>
							</li>
							<li class="nav-item">
								<%= link_to current_user.name, user_path(current_user) %>
							</li>
							<li class="nav-item">
								<%= link_to "プロフィール編集", edit_user_path(current_user) %>
							</li>
							<li class="nav-item">
								<%= link_to "新規サウナ登録", new_sauna_path %>
							</li>
							<li class="nav-item">
								<%= link_to "サウナ一覧", saunas_path %>
							</li>
							<li class="nav-item">
								<%= link_to "お気に入りサウナ", "/users/#{current_user.id}/favorites" %>
							</li>
							<li class="nav-item">
								<%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" } %>
							</li>
						</div>
					</div>
				<% else %>
					<li class="nav-item">
						<%= link_to "About", about_path, :class=> "top-page-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "サウナ一覧", saunas_path, :class=> "top-page-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "新規登録", new_user_registration_path, :class=> "top-page-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "ログイン", new_user_session_path, :class=> "top-page-link" %>
					</li>
					<li class="nav-item">
						<%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, :class=> "top-page-link" %>
					</li>
				<% end %>
			</ul>
		</div>
	</nav>
</header>
